<a href="https://colab.research.google.com/github/Hulhay/simple-python-project/blob/main/hangman_game.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**UNDER DEVELOPER**

In [ ]:
import pandas as pd
import random

In [ ]:
df = pd.read_csv('dataset.csv')
df.sample(5)

    category      name
102   animal  squirrel
60    animal   girrafe
35    animal   catfish
20    animal      fish
47    animal      deer

In [ ]:
index = random.randint(1,len(df))
category = df['category'][index]
answer = df['name'][index]

print('category: {}, name: {}'.format(category, answer))

category: animal, name: whale

In [38]:
def create_blank(answer):
  answer = answer.split()
  words = [len(n) for n in answer]
  blank = ['_'+' _'*(word-1) for word in words]
  characters = [list(a) for a in answer]

  return blank, answer, characters

def get_index_from_question(character):
  index_characters_rel = {}
  count = 0
  for char in character:
    if char not in index_characters_rel:
      index_characters_rel[char] = []
    index_characters_rel[char].append(count)
    count += 1

  return index_characters_rel

def list_index_characters(characters):
  lst = []
  for character in characters:
    lst.append(get_index_from_question(character))

  return lst

def count_underscore(question):
  underscore_number = 0
  
  for q in question:
    for char in q:
      if char == '_':
        underscore_number += 1

  return underscore_number

answer = 'alexander graham bell'
question, answer, characters = create_blank(answer)
underscore_number = count_underscore(question)
index_from_question = list_index_characters(characters)

print('q : ', question)
print('a : ', answer)
print('c : ', characters)
print('i : ', index_from_question)
print('N : ', underscore_number)

#for q in question:
#  print(q)

#for a in answer:
#  print(a)

q :  ['_ _ _ _ _ _ _ _ _', '_ _ _ _ _ _', '_ _ _ _']
a :  ['alexander', 'graham', 'bell']
c :  [['a', 'l', 'e', 'x', 'a', 'n', 'd', 'e', 'r'], ['g', 'r', 'a', 'h', 'a', 'm'], ['b', 'e', 'l', 'l']]
i :  [{'a': [0, 4], 'l': [1], 'e': [2, 7], 'x': [3], 'n': [5], 'd': [6], 'r': [8]}, {'g': [0], 'r': [1], 'a': [2, 4], 'h': [3], 'm': [5]}, {'b': [0], 'e': [1], 'l': [2, 3]}]
N :  19

In [52]:
def get_index_from_user(input_, index_from_question):
  for i in index_from_question:
    if input_ in i:
      print(i[input_])

def main(input_, characters, index_from_question):
  for character in characters:
    if input_ not in character:
      print('Try again')
    else:
      get_index_from_user(input_, index_from_question)

main('a', characters, index_from_question)

[0, 4]
[2, 4]
[0, 4]
[2, 4]
Try again